TMM_iOS/Web References/remote/TmmService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s0="http://webservice.tmm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://webservice.tmm" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax21="http://entities.data.tmm/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.tmm" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entities.data.tmm/xsd">
      <xs:complexType name="User">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="publicIp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.tmm">
      <xs:import namespace="http://entities.data.tmm/xsd" />
      <xs:element name="signIn">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="publicIp" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="signInResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax21:User" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="signInRequest">
    <part name="parameters" element="ns:signIn" />
  </message>
  <message name="signInResponse">
    <part name="parameters" element="ns:signInResponse" />
  </message>
  <portType name="TmmServicePortType">
    <operation name="signIn">
      <input wsaw:Action="urn:signIn" message="ns:signInRequest" />
      <output wsaw:Action="urn:signInResponse" message="ns:signInResponse" />
    </operation>
  </portType>
  <binding name="TmmServiceSoap11Binding" type="ns:TmmServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="signIn">
      <soap:operation soapAction="urn:signIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="TmmServiceSoap12Binding" type="ns:TmmServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="signIn">
      <soap12:operation soapAction="urn:signIn" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="TmmServiceHttpBinding" type="ns:TmmServicePortType">
    <http:binding verb="POST" />
    <operation name="signIn">
      <http:operation location="signIn" />
      <input>
        <mime:content part="parameters" type="application/xml" />
      </input>
      <output>
        <mime:content part="parameters" type="application/xml" />
      </output>
    </operation>
  </binding>
  <service name="TmmService">
    <port name="TmmServiceHttpSoap11Endpoint" binding="ns:TmmServiceSoap11Binding">
      <soap:address location="http://localhost:8080/TMM/services/TmmService.TmmServiceHttpSoap11Endpoint/" />
    </port>
    <port name="TmmServiceHttpSoap12Endpoint" binding="ns:TmmServiceSoap12Binding">
      <soap12:address location="http://localhost:8080/TMM/services/TmmService.TmmServiceHttpSoap12Endpoint/" />
    </port>
    <port name="TmmServiceHttpEndpoint" binding="ns:TmmServiceHttpBinding">
      <http:address location="http://localhost:8080/TMM/services/TmmService.TmmServiceHttpEndpoint/" />
    </port>
  </service>
</definitions>